# DCK properties based on target
# DigitalKey (Supported Country) : UA,NZ,PH,MX,CO,AR,CL,PE,IL,RS,SK,SI,LV,LU,BG,NL,RO,BE,AT,HU,GR,CZ,IE,PL,PT,ID,TH,MA,KR,US,GB,DE,FR,IT,ES,AE,CH,KZ,SE,VN,ZA,AU,BR,CA,HK,IN,MY,SG,TW,SA,HR

# NOT LAUNCHED COUNTRY
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=AE && property:ro.oem.key2=AFR
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=VN && property:ro.oem.key2=XEV
    setprop ro.gms.dck.eligible_wcc 0
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=ZA && property:ro.oem.key2=XFE
    setprop ro.gms.dck.eligible_wcc 0

# LAUNCHED COUNTRY
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=UA
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=NZ
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=PH
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=MX
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=CO
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=AR
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=CL
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=PE
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=IL
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=RS
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=SK
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=SI
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=LV
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=LU
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=BG
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=NL
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=RO
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=BE
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=AT
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=HU
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=GR
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=CZ
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=IE
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=PL
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=PT
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=ID
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=TH
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=MA
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=KR
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=US
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=GB
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=DE
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=FR
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=IT
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=ES
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=AE
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=CH
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=KZ
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=SE
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=VN
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=ZA
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=AU
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=BR
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=CA
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=HK
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=IN
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=MY
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=SG
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=TW
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=SA
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=HR
    setprop ro.gms.dck.eligible_wcc 3
on property:sys.boot_completed=1 && property:ro.csc.countryiso_code=EG
    setprop ro.gms.dck.eligible_wcc 3